<%= form_with model: @user, local: true do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label "Phone Number" %><br>
    <%= form.text_field :phone_num %>
  </p>

<p>
    <%= form.label "Date of Birth" %><br>
    <%= form.text_field :dob %>
  </p>
<p>
    <%= form.label "Address Line 1" %><br>
    <%= form.text_field :address_l1 %>
  </p>
<p>
    <%= form.label "Address Line 2" %><br>
    <%= form.text_field :address_l2 %>
  </p>
<p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>
<p>
    <%= form.label :state %><br>
    <%= form.text_field :state %>
  </p>
<p>
    <%= form.label "Zip Code" %><br>
    <%= form.text_field :zip %>
  </p>
<p>
    <%= form.label :card_name %><br>
    <%= form.text_field :card_name %>
  </p>
<p>
    <%= form.label "Card Number" %><br>
    <%= form.text_field :card_num %>
</p>

<p>
    <%= form.label "Card Expiration Date" %>(MM/YY)<br>
    <%= form.text_field :card_expire %>
  </p>
<p>
    <%= form.label "Card CCV (3 digits)" %><br>
    <%= form.text_field :card_ccv %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
