<h1> Showing User </h1>
<p>
  <strong>Name:</strong>
  <%= @user.name%>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email%>
</p>
<p>
  <strong>Password:</strong>
  <%= @user.password%>
</p>
<p>
  <strong>isAdmin?:</strong>
  <%= @user.isAdmin %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', user_path(@user), method: :delete, data: {confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
