<h1>Purchases</h1>
<table border="1">
  <tr>
    <th><%= link_to "User Name", :sort => "user_id", :show_all => params[:show_all] %></th>
    <th>Image</th>
    <th><%= link_to "Name", :sort => "name", :show_all => params[:show_all] %></th>
    <th>Brand</th>
    <th>Quantity Bought</th>
    <th>Total Cost</th>
    <th><%= link_to "Status", :sort => "status", :show_all => params[:show_all] %></th>
    <th>Action Selector</th>
    <th>Apply Action</th>
  </tr>
  <% if @ledger_entries %>
    <% @ledger_entries.each do |entry| %>
      <%= form_with url: ledger_entries_index_path do |form| %>
        <tr>
          <td><%= entry.user.name %></td>
          <td height="100">
            <% if entry.item.image_url.present? %>
              <%= image_tag entry.item.image_url, :style => "max-height:100px;max-width:100px;height:auto" %>
            <% else %>
              <%= image_tag "https://via.placeholder.com/75", align: "middle" %>
            <% end %>
          </td>
          <td><%= entry.item.name %></td>
          <td><%= entry.item.brand %></td>
          <td><%= entry.quantity %></td>
          <td><%= number_to_currency(entry.total_cost) %></td>
          <td><%= entry.status.split("_").join(" ").titleize %></td>
          <% options = entry.aasm.events({permitted: true}, current_user).map(&:name) %>
          <%= form.hidden_field :entry_id, value: entry.id %>
          <td><%= form.select :action_option, options, {prompt: true}, disabled: !options.any? %></td>
          <td><%= form.submit "Apply", disabled: !options.any? %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<%= link_to 'Back to Items', root_path %>
