<%= form_with model: @item, local: true do |form| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :category_id %>
  <%= select("item", "category_id", Category.all.collect{ |c| [ c.name, c.id] }) %>
  </div>

 <p>
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :brand %><br>
    <%= form.text_field :brand %>
  </p>

  <p>
    <%= form.label :inventory %><br>
    <%= form.number_field :inventory %>
  </p>

  <p>
    <%= form.label :cost %><br>
    <%= form.number_field :cost, :step => "0.01" %>
  </p>

  <p>
    <%= form.label :restricted %><br>
    <%= form.check_box :restricted %>
  </p>

  <p>
    <%= form.label :age_restricted %><br>
    <%= form.check_box :age_restricted %>
  </p>

  <% if false %>
  <p>
    <% if current_user %>
	    <%=form.label "One Time Password" %><br>
            <%=form.text_field :otp %>

    <%end%>
  <\p>
  <% end %>


  <p>
    <%= form.submit %>
  </p>

<% end %>
