
<h1>Listing Items</h1>
 
 <%= link_to "Sort By Popular", :sort => "popularity"%>
 <%= link_to "Cart" %>
 <%= session[:cart].size %>
 </br>
 
<table border = "1">
  <tr>
	<th>Image</th>
    <th><%= link_to "Name", :sort => "name"%></th>
	<th><%= link_to "Brand", :sort => "brand"%></th>
	<th><%= link_to "Quantity", :sort => "quantity"%></th>
    <th><%= link_to "Cost", :sort => "cost"%></th>
	<th><%= link_to "Restricted", :sort => "restricted"%></th>
	<th><%= link_to "Age Restricted", :sort => "age_restricted"%></th>
	<th><%= link_to "Category", :sort => "category_id"%></th>
	<th>Tax Slab</th>
	<th>Add to Cart</th>
	<th>Buy It Now</th>
	<%if current_user && current_user.is_admin == true%>
    <th>Edit</th>
	<th>Delete</th>
	<% end %>
	<th>Request Unavailable Item</th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
	  <td>
      <%if item.image_url.present?%>
        <%= image_tag item.image_url, :size => "150"%>
      <% else %>
        <%= image_tag "https://via.placeholder.com/75", align: "middle" %>
      <% end %>
    </td>
    <td><%= item.name %></td>
	  <td><%= item.brand %></td>
	  <td><%= item.quantity %><%if item.quantity < 1%> - Currently Unavailable<% end %></td>
    <td>$<%= item.cost %></td>
    <td><%= item.restricted %></td>
	  <td><%= item.age_restricted %></td>
	  <td><%= Category.find_by_id(item.category_id).name %></td>
	  <td><%= Category.find(item.category_id).tax_slab %></td>
	  <td><%if item.quantity > 0%><%= link_to 'Add', add_item_path(item), method: :put %><% end %></td>
	  <td><%if item.quantity > 0%><%= link_to 'Buy It Now', purchase_item_path(item)%><% end %></td>
	  <%if current_user && current_user.is_admin == true%>
	  <td><%= link_to 'Edit', edit_item_path(item) %></td>
	  <td><%= link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?' } %> </td>
  <% end %>
    </tr>
   <% end %>
</table>

<%if current_user && current_user.is_admin == true%>
	<%= link_to "Create Item", new_item_path %>
<% end %>
<%= link_to "View Categories", categories_path %>
