<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Restricted</th>
      <th>Age_Restricted</th>
      <th>Quantity_Available</th>
      <th>Cost</th>
      <th>Tax_Slab</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.brand %></td>
        <td><%= item.restricted %></td>
        <td><%= item.ageRestricted %></td>
        <td><%= item.quantity %></td>
        <td><%= item.cost %></td>
        <td><%= item.taxSlab %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
