
<h1>Listing Items</h1>
 
 <%= link_to "Sort By Popular", :sort => "popularity"%>
 </br>
 
<table border = "1">
  <tr>
	<th>Image</th>
    <th><%= link_to "Name", :sort => "name"%></th>
	<th><%= link_to "Brand", :sort => "brand"%></th>
	<th><%= link_to "Quantity", :sort => "quantity"%></th>
    <th><%= link_to "Cost", :sort => "cost"%></th>
	<th><%= link_to "Restricted", :sort => "restricted"%></th>
	<th><%= link_to "Age Restricted", :sort => "ageRestricted"%></th>
	<th><%= link_to "Category", :sort => "category_id"%></th>
	<th>Tax Slab</th>
	<%if current_user && current_user.isAdmin == true%>
    <th>Edit</th>
	<th>Delete</th>
	<% end %>
	<th>Request Unavailable Item</th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
	  <td><%= image_tag item.imageURL, :size => "150"%></td>
      <td><%= item.name %></td>
	  <td><%= item.brand %></td>
	  <td><%= item.quantity %><%if item.quantity < 1%> - Currently Unavailable<% end %></td>
      <td>$<%= item.cost %></td>
      <td><%= item.restricted %></td>
	  <td><%= item.ageRestricted %></td>
	  <td><%= Category.find_by_id(item.category_id).name %></td>
	  <td><%= Category.find(item.category_id).taxSlab %></td>
	  <%if current_user && current_user.isAdmin == true%>
	  <td><%= link_to 'Edit', edit_item_path(item) %></td>
	  <td><%= link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?' } %> </td>
	  <% end %>
    </tr>
   <% end %>
</table>

<%if current_user && current_user.isAdmin == true%>
	<%= link_to "Create Item", new_item_path %>
<% end %>
<%= link_to "View Categories", categories_path %>
