<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Restricted:</strong>
  <%= @item.restricted %>
</p>

<p>
  <strong>Agerestricted:</strong>
  <%= @item.ageRestricted %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Taxslab:</strong>
  <%= @item.taxSlab %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
