<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>tax_slab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.tax_slab %></td>
		<%if current_user && current_user.is_admin == true%>
			<td><%= link_to 'Edit', edit_category_path(category) %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back To Items", items_path %>
<%if current_user && current_user.is_admin == true%>
	<%= link_to 'New Category', new_category_path %>
<% end %>
