<h1>Your Wishlist</h1>
<br>
<p id='alert'><%= alert %></p>
<p id='notice'><%=notice%></p>
 
<table border = "1">
    <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Restricted?</th>
    <th>Age Restricted?</th>
    <th>Category</th>
    <th>Tax Slab</th>
    <th>Add to Cart</th>
    <th>Buy It Now</th>
    <th>Request Unavailable Item</th>
  </tr>
 
  <% @wishlist_items.each do |item| %>
    <tr>
      <td>
        <%if item.image_url.present?%>
          <%= image_tag item.image_url, :size => "150"%>
        <% else %>
          <%= image_tag "https://via.placeholder.com/75", align: "middle" %>
        <% end %>
      </td>
      <td><%= item.name %></td>
      <td><%= item.brand %></td>
      <td><%= item.inventory %>
      <%if item.inventory < 1%> - Currently Unavailable<% end %></td>
      <td>$<%= item.cost %></td>
      <td><%= item.restricted %></td>
      <td><%= item.age_restricted %></td>
      <td><%= Category.find_by_id(item.category_id).name %></td>
      <td><%= Category.find(item.category_id).tax_slab %></td>
      <%if item.inventory > 0%>
        <td><%= button_to 'Add to cart', cart_items_path(:item_id => item.id, :wishlist => true)%></td>
        <td><%= button_to 'Buy it now', cart_items_path(:item_id => item.id, :buynow => true), method: :post%></td>
        <td>Item still available</td>
      <%else%>
        <td></td>
        <td></td>
        <td>Request Item </td>
      <%end%>
      <td><%= link_to 'Delete', remove_item_from_wishlist_path(item.id), method: :post, data: {confirm: 'Are you sure?' } %> </td>
    </tr>
   <% end %>
</table>
