<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      Logged in as <%= current_user.name %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Log Out", sessions_destroy_path %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %>
      <%= link_to "Log In", sessions_new_path %>
    <%end%>
    <br>
    <br>
    <%= link_to "Items", items_path %>  |  
    <% if current_user %>
      <%= link_to "Cart", cart_path(current_user.id) %>
      <%size=current_user.cart.cart_items.size %>
      <%=size%>  |  
      <%= link_to "Wishlist", user_wishlist_path(current_user.id, current_user.wishlist.id) %>  |  
      <%= link_to "My Purchases", ledger_entries_index_path(current_user.id) %>  |
    <% end %>
    
    <%= link_to "Give Feedback", feedbacks_new_path %>  |  
    <% if current_user && current_user.is_admin %>
      <%= link_to "Modify Users", users_path %>  |  
      <%= link_to "View Feedback", feedbacks_index_path %>  |  
      <%= link_to "Create Item", new_item_path %>  |  
      <%= link_to "Modify Categories", categories_path %>  |  
      <%= link_to "Manage Purchases/Requests", ledger_entries_index_path(:show_all => true), :method => :post%>
    <%end%>
    <%= yield %>
  </body>
</html>
